<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CST8276 DATABASE GROUP PROJECT</h1>
<form method="post" action="">
    {% csrf_token %}




<table>
      <tr>
         <td> Title </td>
         <td> Detail</td>
         <td>Date </td>
         <td> Link</td>
         <td>Sub title</td>
         <td></td>

    </tr>

    <tr>
         <td> <input type="text" name="v_date"> </td>
         <td> <input type="text" name="v_date"></td>
         <td><input type="text" name="v_date"> </td>
         <td> <input type="text" name="v_date"></td>
         <td><input type="text" name="v_date"></td>
         <td><input type="submit" value="Submit"></td>

    </tr>

</table>


</form>




</body>
</html>