<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Input Form </title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
	<link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-150 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card  -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header bg-success">
                            <h3 class="mb-0">New Article</h3>
                        </div>
                        <div class="card-body">
                                  <form method="post" action="addnew_done">
                                       {% csrf_token %}
                                      <div class="form-group">
                                    <label for="topic">Please select topic: </label>
                                      <select name="v_topic" id="topic">
                                            <option value="web">Web</option>
                                            <option value="database">Database</option>
                                            <option value="office">Office</option>

                                          </select>
                                    </div>

                                    <div class="form-group">
                                      <label for="title">Please input title:</label>
                                      <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter Title" name="v_title">
                                    </div>
                                       <div class="form-group">
                                      <label for="sub_title">Please input sub title:</label>
                                      <input type="text" class="form-control" id="sub_title" aria-describedby="titleHelp" placeholder="Enter Sub Title" name="v_sub_title">
                                    </div>
                                       <div class="form-group">
                                      <label for="tag">Please input tag:</label>
                                      <input type="text" class="form-control" id="tag" aria-describedby="titleHelp" placeholder="Ente Tag" name="v_tag">
                                    </div>

                                    <div class="form-group">
                                      <label for="content">Content:</label>

                                         <textarea class="form-control" id="content" placeholder="content" name="v_content"></textarea>
                                            <script>
                                                    CKEDITOR.replace( 'v_content' );
                                            </script>

                                    </div>

                                    <button type="submit" class="btn btn-info" value="Submit">Submit</button>
                                      <a href="index"><button type="button" class="btn btn-link btn-lg float-left" >Cancel</button></a>
                                  </form>

                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

</body>
</html>