<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CST8276 DATABASE GROUP PROJECT</h1>
<form method="post" action="addnew_done">
    {% csrf_token %}




<table>
      <tr>
         <td>Topic:</td>
          <td> <label for="topic">Choose a topic:</label>
                  <select name="topic" id="topic">
                    <option value="edu">Educational News</option>
                    <option value="learn">Learning stuff</option>
                  </select>
          </td>
    </tr>

    <tr>
        <td>Title:</td>
        <td><input type="text" name="v_title"></td>
    </tr>

    <tr>
         <td>Description:</td>
          <td><input type="text" name="v_dec"> </td>
    </tr>

      <tr>
         <td>Link:</td>
          <td><input type="text" name="v_link"> </td>
    </tr>

    <tr>
         <td></td>
          <td><input type="submit" value="Submit"></td>
    </tr>


</table>
</form>

</body>
</html>