<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List All</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Date</th>
            <th>Title</th>
            <th>Content</th>
            <th>Link</th>

        </tr>
    {% for d in list %}
    <tr>
         <td>  {{ d.TOPIC }} </td>
         <td> {{ d.DATE }}</td>
         <td> {{ d.TITLE }}</td>
         <td> {{ d.DEC }}</td>
         <td> {{ d.LINK }}</td>


    </tr>
    {% endfor %}

    </thead>

</table>

</body>
</html>