<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $("#id_username").blur(function () {
      var form = $(this).closest("form");
      $.ajax({
        method: "POST",
        url: form.attr("data-hashtag-url"),
        data: {
          name: $('#id_username').val()
        },
        dataType: 'json',
      });

    });

</script>
</head>
<body>

<form action="">
  First name: <input type="text" name="FirstName" value="Mickey"><br>
  Last name: <input type="text" name="LastName" value="Mouse"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>