<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CST8276 DATABASE GROUP PROJECT</h1>
<form method="post" action="index">
    {% csrf_token %}




<table>
      <tr>


    </tr>

    <tr>
         <td>User:<input type="text" name="v_user"> </td>
         <td>Password:<input type="password" name="v_password"> </td>
         <td><input type="submit" value="Submit"></td>


    </tr>

</table>

 <a href="register">Register</a>
</form>




</body>
</html>